CREATE DATABASE QL_THIETBISTEAM
GO
USE [QL_THIETBISTEAM]
GO
/****** Object:  Table [dbo].[CT_DonDatHangNCC]    Script Date: 2/10/2023 12:43:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DonDatHangNCC](
	[MaCT_DonDatHangNCC] [int] IDENTITY(1,1) NOT NULL,
	[MaDonDatHangNCC] [int] NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[Soluong] [int] NULL,
	[DonGiaDat] [float] NULL,
	[TongTien] [float] NULL,
 CONSTRAINT [PK_CT_DonDatHangNCC] PRIMARY KEY CLUSTERED 
(
	[MaCT_DonDatHangNCC] ASC,
	[MaDonDatHangNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PHIEUDATHANG]    Script Date: 2/10/2023 12:43:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEUDATHANG](
	[MaPhieuDH] [int] NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [float] NULL,
 CONSTRAINT [PK_CT_PHIEUDATHANG] PRIMARY KEY CLUSTERED 
(
	[MaPhieuDH] ASC,
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PHIEUNHAPHANG]    Script Date: 2/10/2023 12:43:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEUNHAPHANG](
	[MaCTPhieuNhapHang] [int] IDENTITY(1,1) NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[MaPhieuNhapHang] [int] NOT NULL,
	[Sluong] [int] NULL,
	[DonGiaNhap] [float] NULL,
	[TongTien] [float] NULL,
 CONSTRAINT [PK_CT_PHIEUNHAPHANG] PRIMARY KEY CLUSTERED 
(
	[MaCTPhieuNhapHang] ASC,
	[MaPhieuNhapHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonDatHangNCC]    Script Date: 2/10/2023 12:43:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonDatHangNCC](
	[MaDonDatHangNCC] [int] IDENTITY(1,1) NOT NULL,
	[MaNCC] [nchar](10) NULL,
	[MaNV] [int] NULL,
	[NgayLap] [datetime] NULL,
	[TongSL] [int] NULL,
	[TongTien] [float] NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_DonDatHangNCC] PRIMARY KEY CLUSTERED 
(
	[MaDonDatHangNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 2/10/2023 12:43:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](250) NULL,
	[SDT] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[NgaySinh] [datetime] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NgayTao] [datetime] NULL,
	[TenDN] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](30) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIENHE]    Script Date: 2/10/2023 12:43:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIENHE](
	[MaLH] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuDH] [int] NULL,
	[HoTen] [nvarchar](50) NULL,
	[Email] [varchar](100) NULL,
	[DienThoai] [varchar](50) NULL,
	[NoiDung] [nvarchar](500) NULL,
	[HinhAnh] [nvarchar](200) NULL,
	[NgayCapNhat] [smalldatetime] NULL,
 CONSTRAINT [PK_LIENHE] PRIMARY KEY CLUSTERED 
(
	[MaLH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAISANPHAM]    Script Date: 2/10/2023 12:43:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISANPHAM](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoaiSanPhams] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 2/10/2023 12:43:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MaNCC] [nchar](10) NOT NULL,
	[TenNCC] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](250) NULL,
	[DienThoai] [char](20) NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 2/10/2023 12:43:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[TenNV] [nvarchar](50) NULL,
	[NgaySinh] [datetime] NULL,
	[GioiTinh] [nvarchar](5) NULL,
	[Email] [nvarchar](100) NULL,
	[SoDT] [char](12) NULL,
	[HinhAnh] [nchar](100) NULL,
	[TenDN] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](30) NULL,
	[ID_PhanQuyen] [int] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 2/10/2023 12:43:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[ID_PhanQuyen] [int] NOT NULL,
	[TenPQ] [nvarchar](50) NULL,
 CONSTRAINT [PK_PHANQUYEN] PRIMARY KEY CLUSTERED 
(
	[ID_PhanQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUDATHANG]    Script Date: 2/10/2023 12:43:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUDATHANG](
	[MaPhieuDH] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NULL,
	[NgayDat] [datetime] NULL,
	[Tong_SL_Dat] [int] NULL,
	[ThanhTien] [float] NULL,
	[TinhTrang] [int] NULL,
	[PhiShip] [float] NULL,
 CONSTRAINT [PK_PHIEUDATHANG] PRIMARY KEY CLUSTERED 
(
	[MaPhieuDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUGIAOHANG]    Script Date: 2/10/2023 12:43:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUGIAOHANG](
	[MaGH] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuDH] [int] NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](250) NULL,
	[SDT] [nvarchar](50) NULL,
	[NgayTao] [datetime] NULL,
 CONSTRAINT [PK_PHIEUGIAOHANG] PRIMARY KEY CLUSTERED 
(
	[MaGH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAPHANG]    Script Date: 2/10/2023 12:43:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAPHANG](
	[MaPhieuNhapHang] [int] NOT NULL,
	[MaNCC] [nchar](10) NULL,
	[MaNV] [int] NULL,
	[NgayLap_PN] [datetime] NULL,
	[TongSL] [int] NULL,
	[TongTien_NH] [float] NULL,
 CONSTRAINT [PK_PHIEUNHAPHANG] PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhapHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALE]    Script Date: 2/10/2023 12:43:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALE](
	[MASL] [int] IDENTITY(1,1) NOT NULL,
	[TENSL] [nvarchar](max) NULL,
	[NGAYBATDAU] [datetime] NULL,
	[NGAYKETTHUC] [datetime] NULL,
 CONSTRAINT [PK_SL] PRIMARY KEY CLUSTERED 
(
	[MASL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SPSALE]    Script Date: 2/10/2023 12:43:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPSALE](
	[MASPSALE] [int] IDENTITY(1,1) NOT NULL,
	[MASL] [int] NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[GIAMGIA] [float] NULL,
 CONSTRAINT [PK_SPSL] PRIMARY KEY CLUSTERED 
(
	[MASPSALE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONGTINSANPHAM]    Script Date: 2/10/2023 12:43:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGTINSANPHAM](
	[MaSanPham] [int] IDENTITY(1,1) NOT NULL,
	[MaLoai] [int] NULL,
	[MaNCC] [nchar](10) NOT NULL,
	[TenSanPham] [nvarchar](100) NULL,
	[GiaSanPham] [float] NULL,
	[MoTa] [nvarchar](4000) NULL,
	[HinhAnh] [nvarchar](200) NULL,
	[GiamGia] [float] NULL,
	[SLTon] [int] NULL,
 CONSTRAINT [PK_THONGTINSACH] PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TINHTRANGDH]    Script Date: 2/10/2023 12:43:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINHTRANGDH](
	[TinhTrang] [int] NOT NULL,
	[TenTinhTrang] [nvarchar](50) NULL,
 CONSTRAINT [PK_TINHTRANGDH] PRIMARY KEY CLUSTERED 
(
	[TinhTrang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CT_DonDatHangNCC] ON 

INSERT [dbo].[CT_DonDatHangNCC] ([MaCT_DonDatHangNCC], [MaDonDatHangNCC], [MaSanPham], [Soluong], [DonGiaDat], [TongTien]) VALUES (1, 1, 18, 10, 250000, 2500000)
INSERT [dbo].[CT_DonDatHangNCC] ([MaCT_DonDatHangNCC], [MaDonDatHangNCC], [MaSanPham], [Soluong], [DonGiaDat], [TongTien]) VALUES (2, 1, 4, 10, 300000, 3000000)
INSERT [dbo].[CT_DonDatHangNCC] ([MaCT_DonDatHangNCC], [MaDonDatHangNCC], [MaSanPham], [Soluong], [DonGiaDat], [TongTien]) VALUES (3, 1, 17, 17, 100000, 1700000)
SET IDENTITY_INSERT [dbo].[CT_DonDatHangNCC] OFF
GO
INSERT [dbo].[CT_PHIEUDATHANG] ([MaPhieuDH], [MaSanPham], [SoLuong], [DonGia]) VALUES (1, 1, 2, 135000)
INSERT [dbo].[CT_PHIEUDATHANG] ([MaPhieuDH], [MaSanPham], [SoLuong], [DonGia]) VALUES (1, 3, 1, 300000)
INSERT [dbo].[CT_PHIEUDATHANG] ([MaPhieuDH], [MaSanPham], [SoLuong], [DonGia]) VALUES (1, 4, 1, 350000)
GO
SET IDENTITY_INSERT [dbo].[CT_PHIEUNHAPHANG] ON 

INSERT [dbo].[CT_PHIEUNHAPHANG] ([MaCTPhieuNhapHang], [MaSanPham], [MaPhieuNhapHang], [Sluong], [DonGiaNhap], [TongTien]) VALUES (1, 18, 1, 10, 250000, 2500000)
INSERT [dbo].[CT_PHIEUNHAPHANG] ([MaCTPhieuNhapHang], [MaSanPham], [MaPhieuNhapHang], [Sluong], [DonGiaNhap], [TongTien]) VALUES (2, 4, 1, 10, 300000, 3000000)
INSERT [dbo].[CT_PHIEUNHAPHANG] ([MaCTPhieuNhapHang], [MaSanPham], [MaPhieuNhapHang], [Sluong], [DonGiaNhap], [TongTien]) VALUES (3, 17, 1, 17, 100000, 1700000)
SET IDENTITY_INSERT [dbo].[CT_PHIEUNHAPHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[DonDatHangNCC] ON 

INSERT [dbo].[DonDatHangNCC] ([MaDonDatHangNCC], [MaNCC], [MaNV], [NgayLap], [TongSL], [TongTien], [TrangThai]) VALUES (1, N'NCC04     ', 3, CAST(N'2023-02-10T00:31:27.873' AS DateTime), 3, 7200000, 0)
INSERT [dbo].[DonDatHangNCC] ([MaDonDatHangNCC], [MaNCC], [MaNV], [NgayLap], [TongSL], [TongTien], [TrangThai]) VALUES (2, N'NCC07     ', 3, CAST(N'2023-02-10T00:32:32.757' AS DateTime), 2, 9400000, 0)
INSERT [dbo].[DonDatHangNCC] ([MaDonDatHangNCC], [MaNCC], [MaNV], [NgayLap], [TongSL], [TongTien], [TrangThai]) VALUES (3, N'NCC01     ', 1, CAST(N'2023-02-10T00:34:50.963' AS DateTime), 2, 10500000, 0)
SET IDENTITY_INSERT [dbo].[DonDatHangNCC] OFF
GO
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [DiaChi], [SDT], [Email], [NgaySinh], [GioiTinh], [NgayTao], [TenDN], [MatKhau]) VALUES (1, N'Đỗ Gia Huy', N'Xã Thạnh Mỹ, Huyện Vĩnh Thạnh,Tỉnh Cần Thơ', N'0763512628', N'giahuydo01@gmail.com', CAST(N'2001-01-25T00:00:00.000' AS DateTime), N'Nam', CAST(N'2022-10-13T00:00:00.000' AS DateTime), N'giahuydo', N'12345')
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [DiaChi], [SDT], [Email], [NgaySinh], [GioiTinh], [NgayTao], [TenDN], [MatKhau]) VALUES (2, N'Nguyễn Thành Long', N'Xã Tân Kim, Huyện Cần Giuộc,Tỉnh Long An', N'0987654321', N'locdaubuoi@gmail.com', CAST(N'2001-12-25T00:00:00.000' AS DateTime), N'Nam', CAST(N'2022-09-10T00:00:00.000' AS DateTime), N'thanhlong', N'12345')
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [DiaChi], [SDT], [Email], [NgaySinh], [GioiTinh], [NgayTao], [TenDN], [MatKhau]) VALUES (3, N'Nguyễn Thanh Thảo', N'Xã Vĩnh Bình, Huyện Chợ Lách,Tỉnh Bến Tre', N'0987654321', N'nguyentahnhthao@gmail.com', CAST(N'2001-12-25T00:00:00.000' AS DateTime), N'Nữ', CAST(N'2022-09-07T00:00:00.000' AS DateTime), N'thanhthao', N'12345')
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[LIENHE] ON 

INSERT [dbo].[LIENHE] ([MaLH], [MaPhieuDH], [HoTen], [Email], [DienThoai], [NoiDung], [HinhAnh], [NgayCapNhat]) VALUES (1, 4, N'Nguyễn Thanh Na', N'lexuanhuytvd@gmail.com', N'0335847394', N'Tôi muốn đỗi sản phẩm Chương trình STEAM tiểu học – THCS 80 tiết. Lý do nó đã hỏng', N'hoadon4.PNG', CAST(N'2023-02-10T00:39:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[LIENHE] OFF
GO
SET IDENTITY_INSERT [dbo].[LOAISANPHAM] ON 

INSERT [dbo].[LOAISANPHAM] ([MaLoai], [TenLoai]) VALUES (1, N'Steam Cấp Mầm Non')
INSERT [dbo].[LOAISANPHAM] ([MaLoai], [TenLoai]) VALUES (2, N'Steam Cấp 1')
INSERT [dbo].[LOAISANPHAM] ([MaLoai], [TenLoai]) VALUES (3, N'Steam Cấp 2')
SET IDENTITY_INSERT [dbo].[LOAISANPHAM] OFF
GO
INSERT [dbo].[NHACUNGCAP] ([MaNCC], [TenNCC], [DiaChi], [DienThoai]) VALUES (N'NCC01     ', N'Nhà cung cấp NEW BRAIN QUẬN 3', N'034 Trường Sa, phường 12, TP.HCM', N'0123684273          ')
INSERT [dbo].[NHACUNGCAP] ([MaNCC], [TenNCC], [DiaChi], [DienThoai]) VALUES (N'NCC02     ', N'Nhà cung cấp NEW BRAIN Quận Tân Bình ', N'Số 13, Bàu Cát 6, Phường 14, TP.HCM', N'0283810958          ')
INSERT [dbo].[NHACUNGCAP] ([MaNCC], [TenNCC], [DiaChi], [DienThoai]) VALUES (N'NCC03     ', N'Nhà cung cấp NEW BRAIN Quận 7 ', N'Vietopia, 02-04 Đường số 9, Tân Hưng, TP.HCM', N'0924419885          ')
GO
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [NgaySinh], [GioiTinh], [Email], [SoDT], [HinhAnh], [TenDN], [MatKhau], [ID_PhanQuyen]) VALUES (1, N'Đỗ Gia Huy', CAST(N'2001-07-23T00:00:00.000' AS DateTime), N'Nam', N'giahuydo@gmail.com', N'0356322754  ', N'NV1.JPG                                                                                             ', N'GIABO', N'12345', 3)
INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [NgaySinh], [GioiTinh], [Email], [SoDT], [HinhAnh], [TenDN], [MatKhau], [ID_PhanQuyen]) VALUES (2, N'Nguyễn Thành Lộc', CAST(N'2001-05-01T00:00:00.000' AS DateTime), N'Nam', N'locdaubuoi@gmail.com', N'0355467282  ', N'NV2.JPG                                                                                             ', N'THANHLOC', N'12345', 2)
INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [NgaySinh], [GioiTinh], [Email], [SoDT], [HinhAnh], [TenDN], [MatKhau], [ID_PhanQuyen]) VALUES (3, N'Lê Xuân Huy', CAST(N'2001-08-12T00:00:00.000' AS DateTime), N'Nam', N'huyle@gmail.com', N'0355467282  ', N'NV2.JPG                                                                                             ', N'XUANHUY', N'12345', 1)
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
GO
INSERT [dbo].[PHANQUYEN] ([ID_PhanQuyen], [TenPQ]) VALUES (1, N'Admin')
INSERT [dbo].[PHANQUYEN] ([ID_PhanQuyen], [TenPQ]) VALUES (2, N'Nhân Viên Bán Hàng')
INSERT [dbo].[PHANQUYEN] ([ID_PhanQuyen], [TenPQ]) VALUES (3, N'Nhân Viên Nhập Hàng')
GO
SET IDENTITY_INSERT [dbo].[PHIEUDATHANG] ON 

INSERT [dbo].[PHIEUDATHANG] ([MaPhieuDH], [MaKH], [NgayDat], [Tong_SL_Dat], [ThanhTien], [TinhTrang], [PhiShip]) VALUES (1, 5, CAST(N'2023-01-23T23:59:36.347' AS DateTime), 6, 2082500, 3, 52500)
INSERT [dbo].[PHIEUDATHANG] ([MaPhieuDH], [MaKH], [NgayDat], [Tong_SL_Dat], [ThanhTien], [TinhTrang], [PhiShip]) VALUES (2, 5, CAST(N'2023-02-10T00:03:02.323' AS DateTime), 2, 1401500, 3, 161500)
INSERT [dbo].[PHIEUDATHANG] ([MaPhieuDH], [MaKH], [NgayDat], [Tong_SL_Dat], [ThanhTien], [TinhTrang], [PhiShip]) VALUES (3, 5, CAST(N'2023-02-10T00:19:26.213' AS DateTime), 4, 1631500, 3, 161500)
SET IDENTITY_INSERT [dbo].[PHIEUDATHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[PHIEUGIAOHANG] ON 

INSERT [dbo].[PHIEUGIAOHANG] ([MaGH], [MaPhieuDH], [TenKH], [Email], [DiaChi], [SDT], [NgayTao]) VALUES (1, 1, N'Lê Xuân Huy', N'lexuanhuytvd@gmail.com', N'Xã Phước Hiệp, Huyện Mỏ Cày Nam,Tỉnh Bến Tre', N'0987387321', CAST(N'2023-02-09T23:59:36.347' AS DateTime))
INSERT [dbo].[PHIEUGIAOHANG] ([MaGH], [MaPhieuDH], [TenKH], [Email], [DiaChi], [SDT], [NgayTao]) VALUES (2, 2, N'Lê Xuân Huy', N'lexuanhuytvd@gmail.com', N'Lạc Dương, Huyện Lạc Dương, Tỉnh Lâm Đồng', N'0987387321', CAST(N'2023-02-10T00:03:02.323' AS DateTime))
INSERT [dbo].[PHIEUGIAOHANG] ([MaGH], [MaPhieuDH], [TenKH], [Email], [DiaChi], [SDT], [NgayTao]) VALUES (3, 3, N'Lê Xuân Huy', N'lexuanhuytvd@gmail.com', N'Lạc Dương, Huyện Lạc Dương, Tỉnh Lâm Đồng', N'0987387321', CAST(N'2023-02-10T00:19:26.213' AS DateTime))
SET IDENTITY_INSERT [dbo].[PHIEUGIAOHANG] OFF
GO
INSERT [dbo].[PHIEUNHAPHANG] ([MaPhieuNhapHang], [MaNCC], [MaNV], [NgayLap_PN], [TongSL], [TongTien_NH]) VALUES (1, N'NCC04     ', 3, CAST(N'2023-02-10T00:32:12.817' AS DateTime), 3, 7200000)
INSERT [dbo].[PHIEUNHAPHANG] ([MaPhieuNhapHang], [MaNCC], [MaNV], [NgayLap_PN], [TongSL], [TongTien_NH]) VALUES (2, N'NCC07     ', 3, CAST(N'2023-02-10T00:33:05.753' AS DateTime), 2, 9400000)
INSERT [dbo].[PHIEUNHAPHANG] ([MaPhieuNhapHang], [MaNCC], [MaNV], [NgayLap_PN], [TongSL], [TongTien_NH]) VALUES (3, N'NCC01     ', 1, CAST(N'2023-02-10T00:35:36.373' AS DateTime), 2, 10500000)
GO
SET IDENTITY_INSERT [dbo].[SALE] ON 

INSERT [dbo].[SALE] ([MASL], [TENSL], [NGAYBATDAU], [NGAYKETTHUC]) VALUES (1, N'tết', CAST(N'2023-01-22T00:00:00.000' AS DateTime), CAST(N'2023-02-23T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[SALE] OFF
GO
SET IDENTITY_INSERT [dbo].[SPSALE] ON 

INSERT [dbo].[SPSALE] ([MASPSALE], [MASL], [MaSanPham], [GIAMGIA]) VALUES (1, 1, 1, 10)
INSERT [dbo].[SPSALE] ([MASPSALE], [MASL], [MaSanPham], [GIAMGIA]) VALUES (2, 1, 8, 20)
INSERT [dbo].[SPSALE] ([MASPSALE], [MASL], [MaSanPham], [GIAMGIA]) VALUES (3, 1, 9, 30)
SET IDENTITY_INSERT [dbo].[SPSALE] OFF
GO
SET IDENTITY_INSERT [dbo].[THONGTINSANPHAM] ON 

SET IDENTITY_INSERT [dbo].[THONGTINSANPHAM] OFF
GO
INSERT [dbo].[TINHTRANGDH] ([TinhTrang], [TenTinhTrang]) VALUES (-1, N'Chưa Xác Nhận')
INSERT [dbo].[TINHTRANGDH] ([TinhTrang], [TenTinhTrang]) VALUES (0, N'Xữ lý')
INSERT [dbo].[TINHTRANGDH] ([TinhTrang], [TenTinhTrang]) VALUES (1, N'Đã Đóng Gói')
GO
ALTER TABLE [dbo].[CT_DonDatHangNCC]  WITH CHECK ADD  CONSTRAINT [FK_CT_DonDatHangNCC_DDHNCC] FOREIGN KEY([MaDonDatHangNCC])
REFERENCES [dbo].[DonDatHangNCC] ([MaDonDatHangNCC])
GO
ALTER TABLE [dbo].[CT_DonDatHangNCC] CHECK CONSTRAINT [FK_CT_DonDatHangNCC_DDHNCC]
GO
ALTER TABLE [dbo].[CT_DonDatHangNCC]  WITH CHECK ADD  CONSTRAINT [FK_CT_DonDatHangNCC_TTSP] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[THONGTINSANPHAM] ([MaSanPham])
GO
ALTER TABLE [dbo].[CT_DonDatHangNCC] CHECK CONSTRAINT [FK_CT_DonDatHangNCC_TTSP]
GO
ALTER TABLE [dbo].[CT_PHIEUDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUDH_PDT] FOREIGN KEY([MaPhieuDH])
REFERENCES [dbo].[PHIEUDATHANG] ([MaPhieuDH])
GO
ALTER TABLE [dbo].[CT_PHIEUDATHANG] CHECK CONSTRAINT [FK_CT_PHIEUDH_PDT]
GO
ALTER TABLE [dbo].[CT_PHIEUDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUDH_TTSP] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[THONGTINSANPHAM] ([MaSanPham])
GO
ALTER TABLE [dbo].[CT_PHIEUDATHANG] CHECK CONSTRAINT [FK_CT_PHIEUDH_TTSP]
GO
ALTER TABLE [dbo].[CT_PHIEUNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUNHAPHANG_PNH] FOREIGN KEY([MaPhieuNhapHang])
REFERENCES [dbo].[PHIEUNHAPHANG] ([MaPhieuNhapHang])
GO
ALTER TABLE [dbo].[CT_PHIEUNHAPHANG] CHECK CONSTRAINT [FK_CT_PHIEUNHAPHANG_PNH]
GO
ALTER TABLE [dbo].[CT_PHIEUNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUNHAPHANG_TTSP] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[THONGTINSANPHAM] ([MaSanPham])
GO
ALTER TABLE [dbo].[CT_PHIEUNHAPHANG] CHECK CONSTRAINT [FK_CT_PHIEUNHAPHANG_TTSP]
GO
ALTER TABLE [dbo].[DonDatHangNCC]  WITH CHECK ADD  CONSTRAINT [FK_DonDatHangNCC_NHACUNGCAP] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NHACUNGCAP] ([MaNCC])
GO
ALTER TABLE [dbo].[DonDatHangNCC] CHECK CONSTRAINT [FK_DonDatHangNCC_NHACUNGCAP]
GO
ALTER TABLE [dbo].[DonDatHangNCC]  WITH CHECK ADD  CONSTRAINT [FK_DonDatHangNCC_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[DonDatHangNCC] CHECK CONSTRAINT [FK_DonDatHangNCC_NHANVIEN]
GO
ALTER TABLE [dbo].[LIENHE]  WITH CHECK ADD  CONSTRAINT [FK_LIENHE_PHIEUDATHANG] FOREIGN KEY([MaPhieuDH])
REFERENCES [dbo].[PHIEUDATHANG] ([MaPhieuDH])
GO
ALTER TABLE [dbo].[LIENHE] CHECK CONSTRAINT [FK_LIENHE_PHIEUDATHANG]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_PHANQUYEN] FOREIGN KEY([ID_PhanQuyen])
REFERENCES [dbo].[PHANQUYEN] ([ID_PhanQuyen])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_PHANQUYEN]
GO
ALTER TABLE [dbo].[PHIEUDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDATHANG_KH] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[PHIEUDATHANG] CHECK CONSTRAINT [FK_PHIEUDATHANG_KH]
GO
ALTER TABLE [dbo].[PHIEUDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDATHANG_TINHTRANGDH] FOREIGN KEY([TinhTrang])
REFERENCES [dbo].[TINHTRANGDH] ([TinhTrang])
GO
ALTER TABLE [dbo].[PHIEUDATHANG] CHECK CONSTRAINT [FK_PHIEUDATHANG_TINHTRANGDH]
GO
ALTER TABLE [dbo].[PHIEUGIAOHANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUGIAOHANG_PDH] FOREIGN KEY([MaPhieuDH])
REFERENCES [dbo].[PHIEUDATHANG] ([MaPhieuDH])
GO
ALTER TABLE [dbo].[PHIEUGIAOHANG] CHECK CONSTRAINT [FK_PHIEUGIAOHANG_PDH]
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAPHANG_DonDatHangNCC] FOREIGN KEY([MaPhieuNhapHang])
REFERENCES [dbo].[DonDatHangNCC] ([MaDonDatHangNCC])
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG] CHECK CONSTRAINT [FK_PHIEUNHAPHANG_DonDatHangNCC]
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAPHANG_NHACUNGCAP] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NHACUNGCAP] ([MaNCC])
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG] CHECK CONSTRAINT [FK_PHIEUNHAPHANG_NHACUNGCAP]
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAPHANG_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[PHIEUNHAPHANG] CHECK CONSTRAINT [FK_PHIEUNHAPHANG_NHANVIEN]
GO
ALTER TABLE [dbo].[SPSALE]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_SPSL] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[THONGTINSANPHAM] ([MaSanPham])
GO
ALTER TABLE [dbo].[SPSALE] CHECK CONSTRAINT [FK_SANPHAM_SPSL]
GO
ALTER TABLE [dbo].[SPSALE]  WITH CHECK ADD  CONSTRAINT [FK_SL_SPSL] FOREIGN KEY([MASL])
REFERENCES [dbo].[SALE] ([MASL])
GO
ALTER TABLE [dbo].[SPSALE] CHECK CONSTRAINT [FK_SL_SPSL]
GO
ALTER TABLE [dbo].[THONGTINSANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_THONGTINSACH_LOAISANPHAM] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LOAISANPHAM] ([MaLoai])
GO
ALTER TABLE [dbo].[THONGTINSANPHAM] CHECK CONSTRAINT [FK_THONGTINSACH_LOAISANPHAM]
GO
ALTER TABLE [dbo].[THONGTINSANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_THONGTINSACH_NHACUNGCAP] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NHACUNGCAP] ([MaNCC])
GO
ALTER TABLE [dbo].[THONGTINSANPHAM] CHECK CONSTRAINT [FK_THONGTINSACH_NHACUNGCAP]
GO
/****** Object:  StoredProcedure [dbo].[Update_SL_Ton]    Script Date: 2/10/2023 12:43:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Update_SL_Ton]
	@MaCTPhieuNhapHang int,
    @MaSP int,
	@MaPhieuNhapHang int
AS
    update THONGTINSANPHAM
	set SLTon = (select CT_PHIEUNHAPHANG.Sluong from CT_PHIEUNHAPHANG where CT_PHIEUNHAPHANG.MaCTPhieuNhapHang= @MaCTPhieuNhapHang and CT_PHIEUNHAPHANG.MaSanPham=@MaSP and CT_PHIEUNHAPHANG.MaPhieuNhapHang=@MaPhieuNhapHang) + SLTon
	where MaSanPham=@MaSP
GO
/****** Object:  StoredProcedure [dbo].[Update_TongSL_DatHangNCC]    Script Date: 2/10/2023 12:43:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Update_TongSL_DatHangNCC]
		@MaDonDHNCC nchar(10)
AS
update DonDatHangNCC
	set TongSL=(select COUNT(MaDonDatHangNCC) 
				from CT_DonDatHangNCC 
				where CT_DonDatHangNCC.MaDonDatHangNCC=@MaDonDHNCC
				group by MaDonDatHangNCC )
	where DonDatHangNCC.MaDonDatHangNCC=@MaDonDHNCC
GO
/****** Object:  StoredProcedure [dbo].[Update_TongSL_PN]    Script Date: 2/10/2023 12:43:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[Update_TongSL_PN]
		@MaPhieuNH nchar(10)
AS
	update PHIEUNHAPHANG
	set TongSL=(select COUNT(MaPhieuNhapHang) 
				from CT_PHIEUNHAPHANG 
				where CT_PHIEUNHAPHANG.MaPhieuNhapHang=@MaPhieuNH
				group by MaPhieuNhapHang )
	where PHIEUNHAPHANG.MaPhieuNhapHang=@MaPhieuNH
GO
/****** Object:  StoredProcedure [dbo].[Update_TongTien_DatHangNCC]    Script Date: 2/10/2023 12:43:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Update_TongTien_DatHangNCC]
		@MaDonDHNCC nchar(10)
AS
update DonDatHangNCC
	set TongTien=(select SUM(CT_DonDatHangNCC.TongTien)
				from CT_DonDatHangNCC 
				where CT_DonDatHangNCC.MaDonDatHangNCC=@MaDonDHNCC)
	where DonDatHangNCC.MaDonDatHangNCC=@MaDonDHNCC
GO
/****** Object:  StoredProcedure [dbo].[Update_TongTien_PN]    Script Date: 2/10/2023 12:43:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Update_TongTien_PN]
		@MaPhieuNH nchar(10)
AS
	update PHIEUNHAPHANG
	set TongTien_NH=(select SUM(CT_PHIEUNHAPHANG.TongTien)
				from CT_PHIEUNHAPHANG 
				where CT_PHIEUNHAPHANG.MaPhieuNhapHang=@MaPhieuNH)
	where PHIEUNHAPHANG.MaPhieuNhapHang=@MaPhieuNH
GO
/****** Object:  StoredProcedure [dbo].[Update_TrangThai_DatHangNCC]    Script Date: 2/10/2023 12:43:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Update_TrangThai_DatHangNCC]
		@MaDonDHNCC int
AS
	update DonDatHangNCC
	set TrangThai = 0
	where MaDonDatHangNCC = @MaDonDHNCC
GO
